body{
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #333;
    height: 100vh;
}

header {
    background: linear-gradient(to right, #ff7e5f, #feb47b);
    text-align: center;
    padding: 2rem 0;
}

header h1 {
    margin: 0;
    font-size: 2rem;
}

header p {
    padding: 2rem;
    font-size: 1.1rem;
}

section {
    padding: 2rem;
    text-align: center;
}

section#about {
   background-color: #fff;
   border-bottom: 2px solid #eee;
}
section#about img {
    width: 150px;
    height: 160px;
    border-radius: 50%;
    margin-bottom: 1rem;
    align-items: center;
}

button {
    margin: 0rem 0 1rem 0;
    background-color: #6a11cb;
    color: white; 
    border: none; 
    padding: 10px 20px; 
    font-size: 16px; 
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #2575fc;
}

button:focus {
    outline: none; 
    box-shadow: 0 0 0 3px rgba(38, 143, 255, 0.5); 
}

button:active {
    background-color: #1a5bb5; 
}
section#contact {
    margin-top: 2rem;
    background: #fff;
    border-bottom: 2px solid #eee;
}

section#contact a {
    text-decoration: none;
}
.social-icons {
    margin-top: 1rem;

}

.social-icons a {
    margin: 0 0.5rem;
    text-decoration: none;
}
.social-icons img {
    width: 30px;
    height: auto;
}





